.about-top{
    padding: 37px 0;
}
.about-top__block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-top__block .txt{
    margin-right: 49px;
    font-weight: 600;
    font-size: 39px;
    line-height: 57px;
    text-transform: uppercase;
    color: #55A630;
}
.about-top__block .img-block{
    width: 589px;
    height: 452px;
    position: relative;
    flex-shrink: 0
}
.about-top__block .img-block img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-text{
    padding: 38px 0;
}
.about-text__block{
    margin: 0 auto;
    padding: 60px 14px 60px 25px;
    width: 1036px;
    background: #ffffff;
    box-shadow: 10px 10px 10px rgba(207, 207, 207, 0.25);
}
.about-text__block p{
    font-weight: 500;
    font-size: 25px;
    line-height: 34px;
    color: #424242;
    opacity: 0.8;
}
.about-text__block p:not(:last-child){
    margin-bottom: 34px;
}
/*  */
.about-comfort{
    padding: 146px 0 175px;
}
.about-comfort__block{
    margin-top: 82px;
}
.about-comfort__block-item{
    display: flex;
    justify-content: space-between;
}
.about-comfort__block-item:not(:last-child){      
    margin-bottom: 75px;
}
.about-comfort__block-item .img:nth-child(odd){
      margin-right: 122px;
} 
.about-comfort__block-item:nth-child(even){
    /* margin-left: 122px;
    order: 1; */
    flex-direction: row-reverse;
 
} 
.about-comfort__block-item img{
    width: 488px;
    height: 396px;
    flex-shrink: 0
}
.about-comfort__block-item-txt .text1{
    margin-bottom: 69px;
    font-weight: 600;
    font-size: 32px;
    color: #424242;
    opacity: 0.8;
    position: relative;
}
.about-comfort__block-item-txt .text1::before{
    content: '';
    background-color: #55A630;
    width: 133px;
    height: 2px;
    position: absolute;
    bottom: -23px;
    left: 0;
}
.about-comfort__block-item-txt .text2{
    font-weight: 500;
          font-size: 25px;
          line-height: 33px;
          color: #424242;
          opacity: 0.8;
          margin-bottom: 30px;
}
.about-comfort__block-item-txt{
    padding-top: 31px;
}
/*    */

.about-progress{
    margin-bottom: 126px;
    background: #ecf9eb;
    box-shadow: 0px 10px 10px rgba(240, 240, 240, 0.25);
    padding: 70px 0 76px;
}
.about-progress .title-green{
    margin-bottom: 70px;
  }

.about-progress .trigger-block{
    margin-bottom: 0;
}
/*  */
.about-trainers{
    padding: 60px 0;
}
.about-trainers__block{
    margin-top: 84px;
    display: flex;
    justify-content: space-between;
}
.about-trainers__block-item{
    width: 285px;
}
.about-trainers__block-item .img{
    height: 380px;
    position: relative;
    margin-bottom: 20px;
}
.about-trainers__block-item .img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about-trainers__block-item .text1{
    font-weight: 600;
    font-size: 20px;
    color: #424242;
    margin-bottom: 5px;
}
.about-trainers__block-item .text2{
    font-size: 15px;
    color: #1C1E23;
    opacity: 0.8;
}
/*  */
.about-review{
    padding: 120px 0 175px;
    position: relative;
}
.leave-review{
    background: #ECF9EB;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 22px);
    height: 126px;
}
.leave-review button{
    margin: 0 auto;
    width: 285px;
    height: 66px;
    background: #55a630;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.about-review__block{
    background: #ecf9eb;
    margin-top: 85px;
    padding: 70px 25px 70px 104px;
    height: 1048px;
    overflow-y: scroll;
}
.about-review__block::-webkit-scrollbar{
    width: 22px;
  }
  .about-review__block::-webkit-scrollbar-track{
    background: #F0F0F0;
  }
  .about-review__block::-webkit-scrollbar-thumb{
    background: #55a630;
    border-radius: 6px;  
  }
  .about-review__block::-webkit-scrollbar-thumb:hover{
    background: #55a630;
  }
  .about-review__block-item{
    margin-bottom: 80px;
      display: flex;
      justify-content: space-between;
  }
  .about-review__block-item-txt{
    flex-grow: 0;
    width: 746px;
    font-size: 16px;
    line-height: 28px;
    color: #1C1E23;
    opacity: 0.8;
  }
  .about-review__block-item-name{
    flex-grow: 0;
  }
  .about-review__block-item-name .text1{
    font-size: 18px;
          color: #424242;
          margin-bottom: 14px;
  }
  .about-review__block-item-name .text2{
    font-weight: bold;
          font-size: 18px;
          color: #424242;
          opacity: 0.8;
  }